.container
    .header-ecored
        h1 1. La importancia de investigar en el mundo del trabajo  
    .jumbotron.bg-white
        .sub-line.mt-5
            h2#tema-11 1.1.  ¿Por qué Investigar?  

            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/3.jpg").img-fluid 

                .col
                    p La investigación es el eje fundamental para todo proceso de creación, ideación e innovación, ofrece las bases para el pensamiento creativo y la solución de problemas en cualquier ámbito de la vida y del trabajo. Ser competitivo en el mundo laboral, identificar oportunidades y desarrollar habilidades de pensamiento requiere de una gran curiosidad, ganas de aprender, vivir y emprender hacia nuevos horizontes.
  
                    p Un proyecto de investigación formativa es una herramienta que ayuda al desarrollo de habilidades para la solución creativa de problemas.  Entender cómo a partir de la búsqueda sistemática de información y la estructuración metodológica del proyecto se fomentan nuevas oportunidades para el aprendizaje y el mundo laboral.

        .sub-line.mt-5    
            h2#tema-12 1.2.  La investigación en el SENA         

            table.default
                tr
                    td
                        p El SENA desde su creación ha realizado ejercicios de investigación aplicada en sus procesos de formación, según lo establecido en el Estatuto de Formación Profesional. El objetivo de la investigación en los procesos de formación se enfoca en resolver problemas prácticos, a partir de información primaria o secundaria, análisis de investigaciones y/o desarrollos experimentales que permitan encontrar una solución óptima a los problemas identificados.

                        p En la formación profesional, la competencia orientar investigación formativa según referentes técnicos, tiene como objetivo que el aprendiz pueda adquirir fundamentos metodológicos en investigación, facilitando así   el desarrollo del   proyecto formativo y el aprendizaje por proyectos. Desde esta perspectiva la investigación es la base del aprendizaje, nos enseña métodos para organizar el pensamiento, facilita la comprensión de la información, permite descubrir nuevos conocimientos necesarios para el mundo laboral y personal.
                    td                   
                        img.img-a.my-3(src="assets/images/pages/ilustraciones/4.jpg").img-icon