.container
  .header-ecored
    h1 2.  El proyecto de investigación
  .jumbotron.bg-white
      .div-con-fondo1
        .row.justify-content-center.align-items-center
            .sub-ecored
            .col-auto
              
              img.img-responsive(src='assets/images/pages/ilustraciones/5.png').img-float-1
              
      .row.justify-content-center.mt-5
        .col-6.col-md-6 
          .header-arrow_1
            h1.text-center ETAPA

          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/01.jpg").img-icon

            .col-8 
              h2.mt-5 PREPARACIÓN DE #[br] LA INVESTIGACIÓN

            .col-4
              img.mt-7.img-a(src="assets/images/pages/ilustraciones/line.jpg").img-icon

        .col-6.col-md-6  
          .header-arrow_1 
            h1.text-center ACCIONES
          ul.mt-5 
            li 
              p Delimitación del tema
            li 
              p Revisión de información previa
            li 
              p Determinación del diseño teórico
            li 
              p Elaboración del proyecto de investigación

            .col-4
              img.mt-2(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/02.jpg").img-icon

            .col-8 
              h2.mt-5 EJECUCIÓN DE #[br] LA INVESTIGACIÓN
            .col-4
              img.mt-5.img-a(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        
        .col-6.col-md-6  
         
          P.mt-5 Se aplican los diferentes métodos de recolección de información,tiene como finalidad, responder la pregunta de investigación planteada.
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/03.jpg").img-icon

            .col-8 
              h2.mt-5 PROCESAMIENTO DE #[br] LA INFORMACIÓN
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
         
          P.mt-5 Su propósito es lograr la integración y valoración de la información, se caracteriza por la cuantificación, cualificación, interpretación o valoración de la información
            .col-4
              img.mt-2(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/04.jpg").img-icon

            .col-8 
              h2.mt-5 REDACCIÓN DE #[br] INFORMES
            .col-4
              img.mt-2(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        
        .col-6.col-md-6  
         
          P.mt-5 Es el documento que recoge todo el trabajo resultados de la investigación, debe ser breve y preciso en su presentación.
            .col-4
              img.mt-2(src="assets/images/pages/ilustraciones/line.jpg").img-icon

      .sub-line.mt-5  
        h2#tema-21 2.1  Tema e idea de investigación
      .jumbotron.bg-5.mt-5
          .row.justify-content-center.align-items-center
              .col-auto
                  img.img-a.my-3(src="assets/images/pages/ilustraciones/11.jpg").img-fluid 
              .col
                  p.mb-0 La idea de investigación en primera instancia surge de la motivación del investigador a profundizar en una temática, o en la identificación de una necesidad o problema que se pretende resolver en un campo específico del conocimiento. Una característica importante de los temas e ideas de la investigación formativa, es que buscan brindar respuestas a necesidades específicas   en el contexto social y productivo desde un componente técnico y tecnológico. 

      .jumbotron.bg-5.mt-5
          .row.justify-content-center.align-items-center
              .col-auto
                  img.img-a.my-3(src="assets/images/pages/ilustraciones/12.jpg").img-fluid 
              .col
                  p.mb-0 La diferencia entre el tema y la idea es que el primero es amplio y multidimensional, a partir de este se concretan las ideas que se profundizan con el desarrollo de la investigación.  Todo proceso investigativo requiere información primaria o secundaria que sirva como fuente de consulta o sustentación del proyecto.

      .sub-line.mt-5 
      h2#tema-22 2.2. Enfoques de la investigación

              p.mt-5 El enfoque es la forma metodológica cómo se aborda la idea de investigación y da respuesta a la pregunta de investigación, constituye la estrategia ampliada para abordar el problema.  Los enfoques pueden ser de carácter cualitativo cuantitativo y mixto, cada uno tiene sus propias características y finalidades dependiendo de los resultados que se pretenden obtener con la investigación.            
      
      .card-deck
        .card.card_blue
          .card-body
            img.img-a(src='assets/images/pages/ilustraciones/13.png')
            p.card-text.text-center.mt-5
              | #[strong CUALITATIVO]
            P.text-center Interpreta. Describe los fenómenos a partir sus cualidades, puede  utilizar algunos datos
        .card.card_blue_1
          .card-body
            img.img-a(src='assets/images/pages/ilustraciones/14.png')
            p.card-text.text-center.mt-5
              | #[strong CUANTITATIVO]
            P.text-center Mide. Cuantifica a partir de herramientas estadísticas y matemáticas
        .card.card_blue
          .card-body
            img.img-a(src='assets/images/pages/ilustraciones/15.png')
            p.card-text.text-center.mt-5
              | #[strong MIXTO]
            P.text-center Mezcla investigaciones cuantitativas y cualitativas

      .sub-line.mt-5  
        h2.mt-5 2.3.  El problema y la pregunta de investigación

      .row.justify-content-center.mt-5
        .col-6.col-md-6 
            .col-auto
              img.img-responsive(src="assets/images/pages/ilustraciones/16.jpg").img-fluid
        .col-6.col-md-6  
         
          P.mt-5 Se concibe como problema a una falla, deficiencia, o barrera que genera afectación en una población en condiciones de tiempo y espacio. Todo proyecto surge a partir de un problema o necesidad identificada, una característica fundamental del proyecto de investigación es que el problema se plantea como pregunta de investigación y ésta debe ser resuelta con el desarrollo de la investigación.

      h3.mt-5  2.3.1  Características de la pregunta de investigación

      .row.justify-content-center.mt-5
        .col-4.col-md-5
            .col-auto
                img.img-responsive(src='assets/images/pages/ilustraciones/17.jpg').img-fluid
              
            .centrado3  #[strong La pregunta debe ser concreta en el tema abordar, determina un alcance, identifica el problema, reconoce la población o los elementos objeto estudio, delimita un espacio y tiempo. Ejemplo: ¿cuáles son las causas de mortalidad infantil en los niños entre 0 y 1 año del municipio de Condoto?]

        .col-8.col-md-6 
         
          p.mt-8 A partir de la pregunta se construye el fundamento metodológico, se determinan los objetivos, se establece el marco teórico, se determina el nivel y profundidad, se caracteriza la población objeto de estudio, se determinan los métodos, técnicas e instrumentos de investigación. Antes de determinar la pregunta de investigación es importante realizar lecturas sobre el tema, identificar ideas importantes de la situación problémica, entender el contexto y delimitar la investigación. Para ampliar el tema puede observar el video sobre la pregunta de investigación.
          p.mt-3 Para ampliar el tema puede observar el video sobre la pregunta de investigación.

      .mt-5.embed-responsive.embed-responsive-16by9
          <iframe width="560" height="315" src="https://www.youtube.com/embed/OJPrmBjwoQA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .sub-line.mt-5 
        h2#tema-24 2.4.  Objetivos y alcance de investigación
          .div-con-fondo1
        .row.justify-content-center.align-items-center
            .sub-ecored
            .col-auto
              .contenedor4
                img.img-responsive(src='assets/images/pages/ilustraciones/18.png').img-float-1
      .sub-line.mt-5 
          h2 2.5.  Niveles de la investigación

          p Los niveles determinan la profundidad de la investigación, a mayor profundidad investigativa mayor complejidad y capacidad de análisis e interpretación de los datos por parte del equipo investigador. En la gráfica siguiente, muestran las características de la investigación según su nivel de profundidad.  

      .row.justify-content-center.mt-5
        .col-6.col-md-5

          .col
            img.img-a(src="assets/images/pages/ilustraciones/19.png").img-float
        
        .col-6.col-md-5  
          .col
           
              p.mt-6 Exploratorio: observa, rastrea pregunta indaga, compara 

              p.mt-4 Descriptivo: Descriptivo: describe, los hechos a partir de observar, rastrear preguntar. indagar, comparar

              p.mt-5 Analítico: estudia minuciosamente los hechos para analizarlos y establecer nuevas 

              p.mt-5 Explicativo: explica de forma detallada cada variable estudiada a partir de métodos rigurosos de análsis

              p.mt-5 Interpretativo: requiere de habilidades y experiencia para interpretar los hechos investigados   

              p.mt-5 Argumentativo: contrasta hipótesis, argumenta sus relaciones desde principios y teoría, demuestra nuevas teorías


          
        p.mt-5 Es importante destacar que los objetivos de la investigación determinan su nivel de profundidad, es una relación bidireccional, dependiendo de la profundidad se construyen los objetivos.
      .sub-line.mt-5 
        h2 2.6.  Métodos de investigación
      
      img.img-a.my-3(src="assets/images/pages/ilustraciones/20.jpg").img-fluid

      .jumbotron.bg-6.mt-5
          .row.justify-content-center.align-items-center
               .col
                  p.mb-0 El término método proviene del griego “meta-hacía, hodós-camino, el camino más adecuado hacia un fin’'. Los métodos son el conjunto de procedimientos específicos teóricos como prácticos que determinan la forma como se realizará la investigación. 
    
      .row.justify-content-center.mt-5
        .col-6.col-md-6 
          .header-arrow_1
            h1.text-center MÉTODOS

          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/01.jpg").img-icon

            .col-8 
              h2.mt-5 Método Científico 
            .col-4
              img.mt-5.img-a(src="assets/images/pages/ilustraciones/line.jpg").img-icon

        .col-6.col-md-6  
          .header-arrow_1 
            h1.text-center CARACTERÍSTICAS   

          p.mt-5 Presenta un desarrollo lógico, observa, resuelve hipótesis, experimenta contrasta teorías y concluye
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
            
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/02.jpg").img-icon

            .col-8 
              h2.mt-5 Método Experimental 
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        
        .col-6.col-md-6  
         
          P.mt-5 Se caracteriza por controlar variables, atributos y características del objeto de estudio. Ejemplo (edad, nivel educativo,) compara las variables objeto de estudio.
            .col-4
              img.mt-2(src="assets/images/pages/ilustraciones/line.jpg").img-icon 
        
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/03.jpg").img-icon

            .col-8 
              h2.mt-5 Método Teórico
            .col-4
              img.mt-5.img-a(src="assets/images/pages/ilustraciones/line.jpg").img-icon 
        
        .col-6.col-md-6  
         
          p.mt-5 Se utilizan para abordar problemas científicos, facilitan la interpretación de datos empíricos y se utilizan para la construcción de una teoría científica
            .col-4
              img.mt-1(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/04.jpg").img-icon

            .col-8 
              h2.mt-5 Método Estadístico
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        
        .col-6.col-md-6  
         
          P.mt-3 Tienen como finalidad determinar una muestra estadística, realizar análisis y procesamiento de la información, realizar interpretaciones a partir de datos
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon

        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/05.jpg").img-icon

            .col-8 
              h2.mt-5 Métodos Empíricos
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon  
        
        .col-6.col-md-6  
         
          P.mt-3 Facilitan la lectura de la realidad desde un componente cultural, sensorial, funcionan desde la experiencia del investigador con la realidad.  Permiten la recolección de datos para validar las hipótesis  
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/06.jpg").img-icon

            .col-8 
              h2.mt-4 Método Investigación Etnográfica 
            .col-4
                  img.mt-6(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
         
          P.mt-4 Se caracteriza por entender el sujeto en su contexto, predomina la observación participante de carácter cualitativo, estudia los fenómenos en su estado natural, tiende hacia un enfoque sociológico, antropológico de las ciencias humanas
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/07.jpg").img-icon

            .col-8 
              h2.mt-5 Método Hermenéutico  
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
         
          P.mt-4 Es un método   con un carácter social, estudia los comportamientos humanos, su nivel de análisis es cualitativo a partir de la interpretación de los hechos
            .col-4
              img.mt-4(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/08.jpg").img-icon

            .col-8 
              h2.mt-5 Método Fenomenológico 
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
         
          P.mt-5 Es un método de investigación cualitativa, estudio los fenómenos, describe e interpreta y reflexiona sobre las experiencias vividas
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/09.jpg").img-icon

            .col-8 
              h2.mt-5 Método Histórico  
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
         
          P.mt-5 Estudia la trayectoria de los acontecimientos y leyes de manera objetiva 
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
          .row.justify-content-center.align-items-center

            .col-4 
              img.img-a(src="assets/images/pages/ilustraciones/10.jpg").img-icon

            .col-8 
              h2.mt-5 Método IAP investigación #[br] Acción Participante
            .col-4
              img.mt-5(src="assets/images/pages/ilustraciones/line.jpg").img-icon
        .col-6.col-md-6  
         
          P.mt-4 Es un método de carácter social, el investigador desempeña un rol activo del grupo o comunidad a intervenir contribuye a cambiar la realidad desde su participación activa como facilitador del proceso
            .col-4
              img.mt-4(src="assets/images/pages/ilustraciones/line.jpg").img-icon
      .sub-line.mt-5 
        h2#tema-27 2.7.  La hipótesis

      .jumbotron.bg-5.mt-5
          .row.justify-content-center.align-items-center
              .col-auto
                  img.img-a.my-3(src="assets/images/pages/ilustraciones/11.jpg").img-fluid 
              .col
                  p.mb-0 La hipótesis es una forma de análisis a partir de una posible explicación o respuesta a un problema y debe probarse con los resultados de la investigación. Dependiendo de los niveles de investigación se plantea   la hipótesis, para investigaciones de carácter descriptivo y exploratorio no se plantea hipótesis. Si los métodos de investigación son de carácter científico, experimental o correlacional siempre se deben demostrar o demostrar la hipótesis planteada.


      p.mt-5 El marco teórico son los conceptos desde donde se sustenta la investigación, para su construcción se debe tener en cuenta:  el alcance de la pregunta de investigación, el objetivo general, los objetivos específicos y las variables de análisis según el enfoque y los métodos. Cada uno de estos elementos establecen los temas y subtemas que sustentan la investigación. Para una mayor claridad se realiza un análisis a la pregunta de investigación establecida en el numeral 2.3

      .div-con-fondo1
        .row.justify-content-center.align-items-center
            .sub-ecored
            .col-auto
              
              img(src='assets/images/pages/ilustraciones/23.jpg')
              
              .centrado1 <b>¿Cuáles son las causas de mortalidad infantil en los niños entre 0 y 1 año del municipio de Condoto?</b> Según esta pregunta, podríamos establecer por ejemplo en el marco teórico los siguientes temas: Mortalidad por enfermedad, accidentalidad, violencia entre otras.  Cada uno de los conceptos mencionados tienen como finalidad sustentar la investigación desde las teorías existentes   y con base en ello, se construye el marco teórico de la investigación. Para la construcción del fundamento teórico, es importante buscar en fuentes de información confiables, como bases de datos, libros, tesis, documentos técnicos especializados, autores reconocidos.

      .sub-line.mt-5       
        h2#tema-28 2.8.  Técnicas de recolección de informacións

        p Se le denominan técnicas al conjunto de herramientas e instrumentos utilizados para recolectar la información del proceso investigativo.  La selección de la técnica depende del enfoque, el  nivel de profundidad, método y forma de análisis requerido para desarrollar la investigación. 

            .col-auto
                  img.img-a.md-10(src="assets/images/pages/ilustraciones/24.jpg").img-fluid

        p.mt-5 Características de las técnicas de recolección datos:
    
      table.table.table-bordered.table-striped.mt-5
            thead
                tr
                    th.table1.color-text ENFOQUE

                    th.table1 CUANTITATIVO

                    th.table1 CUALITATIVO 

                    th.table1 MIXTO
            tbody
                tr
                    td.table2.color-text  NIVEL INVESTIGATIVO

                    td Exploratorio #[br]Descriptivo #[br] Analítico #[br] Explicativo  

                    td Interpretativo#[br]Argumentativo 

                    td Cuali-cuantitativo 

            tbody
                tr.table1
                    td.table2.color-text  MÉTODO

                    td Científico#[br] Experimental #[br]Correlacional#[br]Estadístico  

                    td Etnográfico#[br] Hermenéutico #[br] Fenomenológico #[br]Histórico 

                    td Cuali-cuantitativo 

            tbody
                tr
                    td.table2.color-text  TIPO DE INSTRUMENTO

                    td Encuesta#[br] Test#[br] Observaciones #[br] a partir de indicadores

                    td Entrevistas#[br] Testimonios Observaciones #[br] (participantes)#[br] Historias de vida #[br]Diarios de campo #[br] Talleres#[br]Conversatorios

                    td En sus técnicas combina instrumentos de investigación


      .sub-line.mt-5 
        h2#tema-29 2.9.  Universo y muestra

        p El universo en estadística es la población o conjunto de elementos totales que cumplen con características especiales para estudiarse en el proyecto de investigación. El universo puede ser finito o infinito.

        .card-deck
          .card.card_grey
            .card-body
              img.img-a(src='assets/images/pages/ilustraciones/25.png')
              p.card-text.text-center.mt-5
                | #[strong UNIVERSO FINITO]
              P.text-center Es la población de elementos totales que se puede contar o medir, por ejemplo, la población de una ciudad. 
          .card.card_grey
            .card-body
              img.img-a(src='assets/images/pages/ilustraciones/26.png')
              p.card-text.text-center.mt-4
                | #[strong UNIVERSO INFINITO]
              P.text-center Es el conjunto de elementos que no se pueden contar o medir, por ejemplo, la cantidad de árboles de la región.

        p.mt-5 Independientemente que el universo sea finito o infinito, desde la estadística se han desarrollado formas de cuantificar y calcularlos. Para profundizar en el universo y la muestra estadística profundice en el tema observando el siguiente video:


        .mt-5.embed-responsive.embed-responsive-16by9
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3_tW-Cg4BSY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        
      h3.mt-5 2.9.1.  Muestra estadística

        img.mt-5.img-a(src="assets/images/pages/ilustraciones/27.jpg", alt="").img-fluid

        p.mt-5 Es un subgrupo o parte de la población o universo que se utiliza para ser estudiado, está determinada por unos elementos comunes de análisis que permiten profundizar en la investigación. En la selección de la muestra se deben establecer parámetros y variables análisis que delimiten la población objeto de estudio, según necesidades de la investigación.

        p La muestra estadística se calcula con fórmulas estadísticas, existen dos tipos de fórmulas, para poblaciones finitas y poblaciones infinitas. Para profundizar en esta temática profundice el tema donde puede observar el cálculo de la muestra. 

        .mt-5.embed-responsive.embed-responsive-16by9
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cya4JCVPc9w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .sub-line.mt-5
        h2#tema-2-10 2.10.  Conclusiones

        .div-con-fondo1
        .row.justify-content-center.align-items-center
            .sub-ecored
            .col-auto
              
              img.img-responsive(src='assets/images/pages/ilustraciones/28.png')
              
              

          
          





