.container
    .header-ecored
        h1 3. Fuentes de Información  
    .jumbotron.bg-white
        .div-con-fondo1
        .row.justify-content-center.align-items-center
            .col-auto
              
              img.img-responsive(src='assets/images/pages/ilustraciones/29.jpg')
              
              .centrado6 Las fuentes de información es el conjunto de documentos y datos confiables que contienen conocimientos útiles para consultarse en el desarrollo de una investigación.
        .sub-line.mt-5
            h2.mt-5#tema-31 3.1.  Fuentes primarias y secundarias

            .card-deck
              .card.card_grey
                .card-body
                  img.img-a(src='assets/images/pages/ilustraciones/head.png').img-icon
                  P.text.left.mt-5 Las fuentes primarias son documentos que no han sido editados, reinterpretados o restructurados por otros investigadores, entre los más destacados están, revistas, testimonios orales, pinturas, archivos multimedios pintura o grabaciones   de primera mano, cartas entre otras.  Sus principales características son su originalidad como evidencia directa de su autor.
              .card.card_grey
                .card-body
                  img.img-a(src='assets/images/pages/ilustraciones/book.png').img-icon 
                  P.text.left.mt-5 Las fuentes secundarias son textos basados en fuentes primarias, han sido analizados, interpretados y evaluados por otros investigadores. Algunos tipos de fuentes son críticas literarias, resúmenes, revistas con citaciones de otros textos, bibliografías entre otras. 
           
            .sub-line.mt-5
                h2.mt-5#tema-32 3.2.  Búsqueda de información

            p La búsqueda y selección de información es muy importante para sustentar la investigación. Definir los criterios de búsqueda, identificar el tipo de información que sustenta el proyecto investigativo requiere de conocimientos y habilidades para buscar información relevante. 

            p Saber buscar significa delimitar el tema con los conceptos relevantes que los sustenta, una vez se tiene claridad al respecto se identifican bases de datos especializadas, y material bibliográfico y cibergráfica relevante a estudiar. Para apoyar las búsquedas de información, en la biblioteca virtual del SENA <a href="http://biblioteca.sena.edu.co/" target="_blank">http://biblioteca.sena.edu.co//</a> , puede encontrar la más importante información a consultar según necesidad.

        .jumbotron.bg-5.mt-5
          .row.justify-content-center.align-items-center
              .col-auto
                  img.img-a.my-3(src="assets/images/pages/ilustraciones/31.jpg").img-fluid 
              .col
                h2 <b>Catálogo Bibliográfico</b>

                p.mb-0 Material bibliográfico (libros, revistas, videos, entre otros) que se encuentra en las colecciones físicas de las bibliotecas del Sistema de Bibliotecas

        .jumbotron.bg-5.mt-5
          .row.justify-content-center.align-items-center
              .col-auto
                  img.img-a.my-3(src="assets/images/pages/ilustraciones/32.jpg").img-fluid 
              .col
                h2 <b>Bases de datos</b>

                p.mb-0 Son recursos digitales en línea suscritos y gratuitos, en diferentes disciplinas (salud, agricultura, biología, legislatura, administración, diseño emprendimiento, entre otros) y en diferentes formatos (texto, audio, video, imagen)

        .jumbotron.bg-5.mt-5
          .row.justify-content-center.align-items-center
              .col-auto
                  img.img-a.my-3(src="assets/images/pages/ilustraciones/33.jpg").img-fluid 
              .col
                h2 <b>Colección SENA / Repositorio</b>

                p.mb-0 Memoria documental académica e institucional del SENA, Abarca contenidos entre revistas, libros, cartillas, fotografías, videos, audios, y muchos más disponibles para su consulta

        .jumbotron.bg-5.mt-5
          .row.justify-content-center.align-items-center
              .col-auto
                  img.img-a.my-3(src="assets/images/pages/ilustraciones/34.jpg").img-fluid 
              .col
                h2 <b>Portal de revista</b>

                p.mb-0 En este portal encuentras revistas académicas y científicas del SENA, editadas y producidas desde 2010 a la fecha.

        p.mt-5 Así mimos en Google académico pueden encontrar las últimas publicaciones de artículos relacionados con el tema de búsqueda de su interés.

        .row.justify-content-center.align-items-center
            .col-md-6.col-lg-6   
              a(href="https://scholar.google.com/schhp?hl=es",target="_blank",style="color:#12263F")        
                .jumbotron.bg-grey_1.borde.text-sup
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/pages/ilustraciones/w.png", alt="", style="width:55px")
                    p.text-center Google académico
                        
        .sub-line.mt-5
            h2.mt-5#tema-33 3.3.  Informe de investigación

            .div-con-fondo1
            .row.justify-content-center.align-items-center
                .sub-ecored
                .col-auto
                    
                    img.mt-5(src='assets/images/pages/ilustraciones/36.jpg').img-float-1
                    
                    .centrado7 El informe de investigación es el documento donde se registran el resultado final del proyecto, lo componen, un título, resumen, introducción, marco teórico, justificación, objetivos y pregunta de investigación, metodología, resultados, discusiones, conclusiones y referencias bibliográficas. Una vez se elabora el informe se renueva el ciclo investigativo, con una nueva pregunta problematizadora que permita continuar profundizando en el tema desarrollado, o un nuevo tema de interés para el investigador.