.container#page-introduccion

    .header-ecored
        h1 Introducción
    .jumbotron.bg-white  
            .div-con-fondo
                .row.justify-content-center.align-items-center
                
                    .col-auto
                        .contenedor
                        img.img-responsive(src='assets/images/pages/ilustraciones/1.svg')
                        
            .row.justify-content-center.mt-5
                .col-4.col-md-5
                    .bg-color-azul
                        img.img-a.my-3(src="assets/images/pages/ilustraciones/2.jpg").img-fluid
                .col-8.col-md-6            
                    
                    p Este componente formativo tiene como finalidad que el aprendiz desarrolle capacidades argumentativas, propositivas, e interpretativas, a partir de aprender a estructurar el proyecto de investigación de acuerdo con principios y métodos sistemáticos, requeridos para la solución creativa de problemáticas identificadas en el contexto social y productivo

                    p Desde esta perspectiva la investigación es el eje fundamental para el desarrollo de competencias habilitadoras para las profesiones del futuro, el aprender a investigar, buscar información, organizar y gestionar conocimiento en función de resolver problemas y agregar valor en los procesos, es la realidad y necesidad del mercado actual.