.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Anexo 1
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=OJPrmBjwoQA",target="_blank",style="color:#12263F")       
                            .jumbotron.bg-grey_1.borde.text-sup
                                .row.justify-content-center.align-items-center
                                    .col-auto
                                            img(src="assets/images/pages/ilustraciones/w.png", alt="", style="width:55px")
                                            p.text-center Anexo

                tr
                    td Anexo 2

                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=3_tW-Cg4BSY",target="_blank",style="color:#12263F")       
                            .jumbotron.bg-grey_1.borde.text-sup
                                .row.justify-content-center.align-items-center
                                    .col-auto
                                            img(src="assets/images/pages/ilustraciones/w.png", alt="", style="width:55px")
                                            p.text-center Anexo
                
                tr
                    td Anexo 3

                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=cya4JCVPc9w",target="_blank",style="color:#12263F")       
                            .jumbotron.bg-grey_1.borde.text-sup
                                .row.justify-content-center.align-items-center
                                    .col-auto
                                            img(src="assets/images/pages/ilustraciones/w.png", alt="", style="width:55px")
                                            p.text-center Anexo