.header-arrow_1 {
    position: relative;
    background-color: #72CAEE;
    padding: 2rem;
  
    h1,h2,h3 {
        margin: 0;
        color: #00223D;      
    }
  
    &--xs {
      padding: 0;
      height: 8px;
    }
  
  }
  
  